    <form action="Servlet" method="post">  
    Name: <input type="text" name="userName"/><br/>  
    Password: <input type="password" name="password"/><br/>  
    <input type="submit" value="login"/>  
    </form>  