    <form action="Servlet1" method=post>  
    Name:<input type="text" name="username"/><br/>  
    Password:<input type="password" name="password"/><br/>  
    <input type="submit" value="Login"/>  
    </form>